body{
    margin: 0;
}

ul{
    padding: 0;
    display: flex;
    gap: 25px;
    margin-right: 5px;
}
.top{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 250, 247);
    padding-left: 150px;
    padding-right: 150px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.second-header{
    display: flex;
    justify-content: space-between;
}

.steve{
    height: 250px;
    width: auto;
    border-radius: 10px;
}

li a{
    text-decoration: none;
    color: #0f0f0f;
}

li a:hover{
    color: rgb(112, 111, 111);
}

li{
    list-style-type: none;
    font-size: 18px;
}

li:hover{
    font-weight: 900;
}

h2{
    font-size: 48px;
    font-weight: 900;
    color: #0f0f0f;
    margin: 0;
}

.left-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
}

button{
    padding: 5px 15px;
    width: fit-content;
    border-radius: 15px;
    border: 2px solid #0f0f0f;
    background-color: #0f0f0f;
    color: rgb(252, 250, 247);
}

button:hover{
    border-color: #0f0f0f;
    color: #0f0f0f;
    background-color:rgb(252, 250, 247);
    cursor: pointer;
}

h1{
    font-size: 24px;
    color: #0f0f0f;
}

.header-small{
    font-size: 16px;
    color: rgb(112, 111, 111);
}